In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("conversion_data.csv")
# df[:10]
df.ix[:10]

   country  age  new_user  source  total_pages_visited  converted
0       UK   25         1     Ads                    1          0
1       US   23         1     Seo                    5          0
2       US   28         1     Seo                    4          0
3    China   39         1     Seo                    5          0
4       US   30         1     Seo                    6          0
5       US   31         0     Seo                    1          0
6    China   27         1     Seo                    4          0
7       US   23         0     Ads                    4          0
8       UK   29         0  Direct                    4          0
9       US   25         0     Ads                    2          0
10      US   38         0     Seo                    1          0

In [39]:
# df.loc[df['age']< 30]
df.sort(['age'],ascending=[False])
# df.sort(['age'], ascending=[False])[:10]

/Applications/anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

        country  age  new_user  source  total_pages_visited  converted
90928   Germany  123         0     Seo                   15          1
295581       UK  111         0     Ads                   10          1
265167       US   79         1  Direct                    1          0
192644       US   77         0  Direct                    4          0
154217       US   73         1     Seo                    5          0
208969       US   72         1  Direct                    4          0
301366       UK   70         0     Ads                    5          0
114485       US   70         1     Ads                    9          0
57122        UK   69         1  Direct                    4          0
290142       US   69         1     Seo                    6          0
168374    China   69         1     Ads                    4          0
255159       US   68         1     Ads                    4          0
262344       US   68         1  Direct                    5          0
209080    China   68         0     Seo                    5          0
17718        US   68         1     Seo                    7          0
139000       US   68         0     Seo                    2          0
31654     China   67         0     Seo                    3          0
10620        US   67         1     Seo                    3          0
250056       US   67         0     Seo                    4          0
216102       US   67         1     Seo                    2          0
253056       US   67         1     Ads                    8          0
192772    China   66         1     Ads                    8          0
197313    China   66         1     Seo                    6          0
16075        UK   66         0     Seo                    5          0
19067        US   66         0     Seo                    5          0
84466     China   66         0     Ads                    9          0
58550        US   66         1     Seo                    2          0
139372       UK   66         1     Seo                    1          0
10180        US   66         1     Seo                    2          0
78100        US   66         1     Seo                    1          0
...         ...  ...       ...     ...                  ...        ...
267096       US   17         1  Direct                    6          0
117539       US   17         0     Seo                   26          1
267495       US   17         1     Seo                    2          0
267071       UK   17         1     Seo                    3          0
19537   Germany   17         1     Ads                    3          0
19525        US   17         0     Seo                   11          0
19520        US   17         1     Seo                    6          0
117605       US   17         1     Ads                    5          0
267037       US   17         1     Seo                    2          0
267030       US   17         0     Ads                    1          0
117045       US   17         1     Ads                   16          1
19635   Germany   17         0  Direct                    6          0
116978       US   17         1  Direct                    1          0
116974       US   17         1     Seo                    5          0
267484       US   17         1     Ads                    1          0
116582       UK   17         1     Seo                    4          0
116588       UK   17         1     Seo                    2          0
267451    China   17         1     Seo                    1          0
116628       UK   17         1     Ads                    2          0
116631       US   17         1     Seo                    5          0
267421    China   17         1     Seo                    5          0
116690       US   17         0     Ads                   17          1
116832       US   17         1     Seo                    1          0
267339       UK   17         1     Ads                    8          0
116866    China   17         1  Direct                    5          0
267312       US   17         1     Seo                    7          0
116907       US   17         0  Direct                    7          0
19652        US   17         1     Seo                   11          1
116914       US   17         0     Seo                    4          0
223133    China   17         0     Seo                   10          0

[316200 rows x 6 columns]

In [26]:
df['age'].max()

123

In [27]:
df['age'].describe()

count    316200.000000
mean         30.569858
std           8.271802
min          17.000000
25%          24.000000
50%          30.000000
75%          36.000000
max         123.000000
Name: age, dtype: float64

In [42]:
# df.groupby(['age', 'converted']).size()

In [41]:
df['country'].describe()

count     316200
unique         4
top           US
freq      178092
Name: country, dtype: object

In [43]:
df.groupby(['country', 'converted']).size()

country  converted
China    0             76500
         1               102
Germany  0             12240
         1               816
UK       0             45900
         1              2550
US       0            171360
         1              6732
dtype: int64

In [56]:
df.groupby(['country', 'converted']).size().groupby(['country'])

KeyError: 'country'

In [ ]:
df.source.value_counts().plot('bar')
#ggplot
df.group_country().mean()